<div class="fundo">
    <img src="assets/Line 3.svg" alt="">
</div>

<section class="header">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="header">
                <h3>Conheça nosso time incrível!</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image1">
                <img src="assets/undraw_team_spirit_hrr4 1.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

</section>

<div class="container">

    <section class="time">

        <div class="title">
            <div class="icon">
                <img src="assets/time.svg" alt="">
            </div>
        </div>

        <div class="text d-flex align-items-center">
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit laborum voluptates ea sed ratione fugit iusto hic repudiandae, eum perspiciatis amet sunt aliquid blanditiis! Dolores reiciendis soluta asperiores quae deserunt?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci dicta quo voluptate totam, quidem saepe sapiente excepturi, earum corporis nemo nihil ipsum, voluptatibus corrupti a iste. Obcaecati dolorem quae nostrum.
            </h2>
        </div>

    </section>

    <section class="apoiadores">

        <div class="title">
            <div class="icon">
                <img src="assets/Apoiadores.svg" alt="">
            </div>
        </div>

        <div class="apoio">
            <img src="assets/laptop-336373_1920.jpg" class="img-fluid" alt="">
        </div>

    </section>
</div>
