<div class="fundo">
    <img src="assets/Line 3.svg" alt="">
</div>

<section class="header">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="header">
                <h3>Conheça nosso time incrível!</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image1">
                <img src="assets/undraw_team_spirit_hrr4 1.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

</section>

<div class="container">

    <section class="time">

        <div class="title">
            <div class="icon">
                <img src="assets/time.svg" alt="">
            </div>
        </div>

        <div class="text d-flex align-items-center">
            <h2>Yume significa "sonho" em japonês que representa bem os nossos ideais de acreditar que informações mudam vidas. Foi a partir desses ideais que um grupo de jovens estudantes do Ensino Médio e da Graduação se juntaram para divulgar oportunidades educacionais.
            </h2>
        </div>

    </section>

    <section class="apoiadores">

        <div class="title">
            <div class="icon">
                <img src="assets/Apoiadores.svg" alt="">
            </div>
        </div>

        <div class="apoio">
            <img src="assets/laptop-336373_1920.jpg" class="img-fluid" alt="">
        </div>

    </section>
</div>
