<div class="fundo">
    <img src="assets/Line 3.svg" alt="">
</div>

<section class="header">

    <div class="row">
        <div class="col-md-6">
            <div class="image1">
                <img src="assets/DBM logo2.svg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="image2">
                <img src="assets/trophy 1.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>

<div class="container">

    <section class="participe">

        <div class="title">
            <div class="icon">
                <img src="assets/Participe.svg" alt="">
            </div>
        </div>

        <div class="text">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, veritatis distinctio aliquam incidunt
                eos illum error minus nisi non cumque commodi aspernatur doloremque dolores dolore ipsum! Ipsum laborum
                ratione deleniti?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, illo non. Ab repellendus
                reprehenderit aspernatur quod iure voluptas, autem non deserunt labore laborum voluptatibus temporibus
                quidem repudiandae voluptate. Exercitationem, magnam!
            </h2>
        </div>

    </section>

    <section class="etapas">

        <div class="title">
            <div class="icon">
                <img src="assets/Etapas.svg" alt="">
            </div>
        </div>

        <div class="text">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, veritatis distinctio aliquam incidunt
                eos illum error minus nisi non cumque commodi aspernatur doloremque dolores dolore ipsum! Ipsum laborum
                ratione deleniti?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, illo non. Ab repellendus
                reprehenderit aspernatur quod iure voluptas, autem non deserunt labore laborum voluptatibus temporibus
                quidem repudiandae voluptate. Exercitationem, magnam!
            </h2>
            <div class="btns">
                <!--Botões-->
                <a id="calendario" routerLink="/">Calendário</a>
                <a id="regulamento" routerLink="/">Regulamento</a>
            </div>
        </div>

    </section>

    <section class="inscricao">

        <div class="title">
            <div class="icon">
                <img src="assets/Inscrição.svg" alt="">
            </div>
        </div>

        <section class="formulario">
            <div class="container">
                <div class="user singinBx">
                    <div class="imgBx">
                        <img src="img1.jpg">
                    </div>
                    <div class="formBx">
                        <form>
                            <h2>Entrar</h2>
                            <input type="text" name="" placeholder="Nome de Usuário">
                            <input type="password" name="" placeholder="Senha">
                            <input type="submit" name="" value="Entrar">
                            
                            <p class="signup">Não possue cadastro?<a routerLink="/"  onclick="toggleForm();">Criar
                                    cadastro.</a></p>
                        </form>
                    </div>
                </div>

                <div class="user singupBx">

                    <div class="formBx">
                        <form>
                            <h2>Crie um cadastro</h2>
                            <input type="text" name="" placeholder="Nome de Usuário">
                            <input type="email" name="" placeholder="Email">
                            <input type="password" name="" placeholder="Senha">
                            <input type="password" name="" placeholder="Confirme a Senha">
                            <input type="submit" name="" value="Cadastrar">
                            <p class="signup" >Já possui um cadastro?<a onclick="toggleForm();">Entrar.</a></p>
                        </form>
                    </div>
                    <div class="imgBx">
                        <img src="img2.jpg">
                    </div>
                </div>
            </div>
        </section>



    </section>

    <section class="oferecimento">

        <div class="title">
            <div class="icon">
                <img id="ofe" src="assets/oferecimento.svg" alt="">
            </div>
        </div>

        <!--Jumbotron-->
        <div class="jumbotron2 jumbotron-fluid">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-4 ">
                        <img src="assets/laptop-336373_1920.jpg" alt="">
                        <h2 class="display-4">Olímpiada de matemática</h2>
                    </div>
                    <div class="col-4">
                        <img src="assets/laptop-336373_1920.jpg" alt="">
                        <h2 class="display-4">Olímpiada de matemática</h2>
                    </div>
                    <div class="col-4">
                        <img src="assets/laptop-336373_1920.jpg" alt="">
                        <h2 class="display-4">Olímpiada de matemática</h2>
                    </div>
                </div>
            </div>
        </div>
        <!--/Jumbotron-->

    </section>

</div>

