<div class="fundo">
    <img src="assets/Line 3.svg" alt="">
</div>

<section class="header">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="image1">
                <img src="assets/DBM logo2.svg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="image2">
                <img src="assets/trophy 1.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

</section>

<div class="container">

    <section class="participe">

        <div class="title">
            <div class="icon">
                <img src="assets/Participe.svg" alt="">
            </div>
        </div>
        

        <div class="text">
            <h2>O Desafio Brasileiro de Matemática elaborado pela Yume é uma olimpíada feita por alunos para alunos, ela tem uma estrutura inovadora de enigmas. Nesta olimpíada, você não precisa ser bom em matemática, mas sim saber trabalhar bem em equipe e estar disposto a solucionar enigmas e desafios. Durante a prova você terá a oportunidade de aprender mais sobre a Matemática, além de se divertir com sua equipe.
            </h2>
            <h2>Podem participar estudantes do Ensino Médio ou formados no Ensino Médio no máximo um ano (que não estejam cursando nenhum curso superior). Os alunos devem se organizar em uma equipe com 3 (três) estudantes que podem ser compostas por alunos de escolas e/ou séries diferentes.
            </h2>
        </div>

    </section>

    <section class="etapas">

        <div class="title">
            <div class="icon">
                <img src="assets/Etapas.svg" alt="">
            </div>
        </div>

        <div class="text">
            <h2>A prova terá uma estrutura de enigmas e terá duas fases. A primeira fase será composta por 20 questões de matemática intercalada de um número surpresa de enigmas, você e sua equipe terão dois dias para resolver a prova. Já a segunda fase será composta por 10 questões e um número também surpresa de enigmas, vocês terão um prazo de um dia para resolver.
            </h2>
            <div class="btns">
                <!--Botões-->
                <a id="calendario" routerLink="/">Calendário</a>
                <a id="regulamento" routerLink="/">Regulamento</a>
            </div>
        </div>

    </section>

    <section class="inscricao">

        <div class="title">
            <div class="icon">
                <img src="assets/Inscrição.svg" alt="">
                <i class="fa fa-question-circle-o" aria-hidden="true" (click)="instrucao()"></i>
            </div>
        </div>

        <section class="formulario">
            <div class="container" id="containerForm">
                <div class="user singinBx">
                    <div class="imgBx">
                        <img src="assets/undraw_game_day_ucx9.svg">
                    </div>
                    <div class="formBx">
                        <div class="form">
                            <h2>Se inscreva!</h2>
                            <input type="text" placeholder="Nome completo" [(ngModel)]="usuario.nome">
                            <input type="email" placeholder="Email" [(ngModel)]="usuario.email" id="email">
                            <div id="txtemail"></div>
                            <input type="text" placeholder="Telefone (apenas números)" [(ngModel)]="usuario.telefone">
                            <input type="text" placeholder="CPF (apenas números)" [(ngModel)]="usuario.cpf">
                            <label for="nascimento">Data de nascimento</label>
                            <input type="date" id="nascimento" [(ngModel)]="usuario.nascimento">
                            <label for="genero">Gênero</label>
                            <select [(ngModel)]="usuario.genero" id="genero">
                                <option value="feminino">Feminino</option>
                                <option value="masculino">Masculino</option>
                                <option value="outro">Outro</option>
                            </select>
                            <label for="estado">Estado</label>
                            <select [(ngModel)]="usuario.estado" (change)="buscarMunicipiosPorEstado()" id="estado">
                                <option *ngFor="let estado of estados" value="{{estado.nome}}">{{estado.nome}}</option>
                            </select>
                            <label for="cidade">Cidade</label>
                            <select [(ngModel)]="usuario.cidade" id="cidade">
                                <option *ngFor="let municipio of municipios" value="{{municipio.nome}}">{{municipio.nome}}</option>
                            </select>
                            <label for="nascimento">Instituição de Ensino</label>
                            <select [(ngModel)]="usuario.instituicaoEnsino">
                                <option value="publica">Pública (Municipal|Estadual)</option>
                                <option value="federal">Federal</option>
                                <option value="particular">Particular</option>
                                <option value="militar">Militar</option>
                            </select>
                            <label for="nascimento">Escolaridade</label>
                            <select [(ngModel)]="usuario.escolaridade">
                                <option value="primeiro">1º Ano do Ensino Médio</option>
                                <option value="segundo">2º Ano do Ensino Médio</option>
                                <option value="terceiro">3º Ano do Ensino Médio</option>
                                <option value="quarto">4º Ano do Ensino Médio (Técnico)</option>
                            </select>
                            <input type="submit" value="Enviar" (click)="inscrever()">
                            <p class="signup">Já está inscrito? <a (click)='toggleForm()'>Crie um grupo!</a></p>
                        </div>
                    </div>
                </div>

                <div class="user singupBx">

                    <div class="formBx form-flex-column">
                        <div class="form">
                            <h2>Crie um grupo!</h2>
                            <input type="text" placeholder="Nome do grupo" [(ngModel)]="grupo.nome">
                            <input type="email" placeholder="Email do representante do grupo" [(ngModel)]="grupo.integrantes[0].email">
                            <input type="submit" value="Enviar" (click)="criarGrupo()">
                        </div>
                        <div class="form mt-5">
                            <h2>Convide participantes!</h2>
                            <input type="text" placeholder="Código do grupo" [(ngModel)]="grupo.token">
                            <input type="email" placeholder="Email do parcipante" [(ngModel)]="grupo.integrantes[1].email">
                            <input type="email" placeholder="Email do parcipante" [(ngModel)]="grupo.integrantes[2].email">
                            <input type="submit" value="Enviar" (click)="convidarGrupo()">
                            <p class="signup" >Ainda não se inscreveu? <a (click)='toggleForm()'>Se inscreva!</a></p>
                        </div>
                    </div>
                    <div class="imgBx">
                        <img src="assets/undraw_team_ih79.svg">
                    </div>
                </div>
            </div>
        </section>



    </section>

    <section class="oferecimento">

        <div class="title">
            <div class="icon">
                <img id="ofe" src="assets/oferecimento.svg" alt="">
            </div>
        </div>

        <!--Jumbotron-->
        <div class="jumbotron2 jumbotron-fluid">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-4 ">
                        <img src="assets/ifrn.png" alt="">
                        <h2 class="display-4">IFRN</h2>
                    </div>
                    <div class="col-4">
                        <img src="assets/ifrr.png" alt="">
                        <h2 class="display-4">IFRR</h2>
                    </div>
                    <div class="col-4">
                        <img src="assets/iracema.png" alt="">
                        <h2 class="display-4">IRACEMA</h2>
                    </div>
                </div>
            </div>
        </div>
        <!--/Jumbotron-->

    </section>

</div>


