@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600;1,900&display=swap');

/*Header*/

.fundo{
    position: relative;
    top: -100px;
    width: 100%;
    height: 50%;
}

.fundo img{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.image1 img{

    width: 700px;
    margin: 90px;
}

.header{
    max-width: 1220px;
}

.image2 img{

    width: 400px;
    height: 400px;
    margin-left: 40px;
    margin-top: 120px;
}

/*Header*/

/*titulo*/

.title{
    margin-top: 50px;
    
}

.title .icon img{
    padding: 10px;
    width: 300px;
}

.title .icon  #ofe{
    padding: 10px;
    width: 400px;
}

/*titulo*/

/*Participe*/

.participe .text h2{
    margin: 20px;
    text-align: center;
    font-size: 25px;
}

/*Participe*/

/*Etapas*/

.etapas .text h2{
    display: flex;
    margin: 20px;
    text-align: center;
    font-size: 25px;
}

.etapas .btns{
    display: flex;
    height: 80px;
    justify-content: flex-end;
    width: 100%;
    margin: 10px;
}


.etapas .btns #calendario {
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 50%;
    margin: 10px;
    border: 2px solid #FFD93A;
    background:  #FFD93A;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;
    padding-top: 6px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.14));
}

.etapas .btns #calendario:hover{
    background-color: #7878f8;
    border-color: #7878f8;
    color: white;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.34));
}

.etapas .btns #regulamento {
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 50%;
    margin: 10px;
    border: 2px solid #01F965;
    background:  #01F965;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;
    padding-top: 6px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.14));
}

.etapas .btns #regulamento:hover{
    background-color: #e71845b2;
    border-color: #e71845d7;
    color: white;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.34));
}

/*Etapas*/

/*inscrição*/

.formulario{
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formulario .container{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}

.formulario #containerForm a{
    cursor: pointer;
}

.formulario .container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.formulario .container .user .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    background: #ffd83ab9;
    transition: 0.5s;
}

.formulario .container .user .imgBx img{
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario .container .user .formBx{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 40px;
    transition: 0.5s;
    overflow-y: auto;
}

.formulario .container .user .form-flex-column {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
}

.formulario .container .user .formBx .form h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

.formulario .container .user .formBx .form input, select, option{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

.formulario .container .user .formBx .form input[type="submit"]{
    max-width: 100px;
    background: #7978F8;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}


.formulario .container .user .formBx .form .signup{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
    height: 50px;
}

.formulario .container .user .formBx .form .signup a{
    font-weight: 600;
    text-decoration: none;
    color: #7978F8;
}

section .container .singupBx{
    pointer-events: none;
}

.formulario .container.active .singupBx{
    pointer-events: initial;
}

.formulario .container .singupBx .formBx{
    left: 100%;
}

.formulario .container.active .singupBx .formBx{
    left: 0;
}

.formulario .container .singupBx .imgBx{
    left: -100%;
}

.formulario .container.active .singupBx .imgBx{
    left: 0;
}




.formulario .container .singinBx .formBx{
    left: 0;
}

.formulario .container.active .singinBx .formBx{
    left: 100%;
}

.formulario .container .singinBx .imgBx{
    left: 0%;
}

.formulario .container.active .singinBx .imgBx{
    left: -100%;
}

/*inscrição*/

/*Oferecimento*/

.jumbotron2 .container{
    background: rgba(255, 44, 44, 0.82);
    box-shadow: 0px 11px 33px -1px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.jumbotron2 .col-4{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.oferecimento .jumbotron2 img{
    margin: 20px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.oferecimento .jumbotron2 h2{
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}


@media (max-width:991px){
    /*header*/

    .fundo{
        position: relative;
        top: -40px;
        width: 100%;
    }
    
    .fundo img{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
    }

    .image1 img{
        max-width: 250px;
        margin-left: 70px;
        margin-top: 0px;
    }

    .image2 img{
        display: none;
        max-width: 200px;
        margin-left: 70px;
        margin-top: 0px;
    }

    /*header*/

     /*titulo*/

.title{
    margin-top: 50px;
}

.title .icon img{
    padding: 10px;
    width: 250px;
}

.title .icon  #ofe{
    padding: 10px;
    width: 300px;
}

/*titulo*/

/*Participe*/

.participe .text h2{
    margin: 20px;
    text-align: center;
    font-size: 15px;
}

/*Participe*/

/*Etapas*/

.etapas .text h2{
    display: flex;
    margin: 20px;
    text-align: center;
    font-size: 15px;
}


/*Etapas*/

/*Formulario*/
.formulario .container{
    max-width: 400px;
}

.formulario .container .imgBx{
    display: none;
}

.formulario .container .user .imgBx{
    width: 100%;
}

.formulario .container .user .formBx{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

/*Oferecimento*/

.jumbotron2 .container{
    background: rgba(255, 44, 44, 0.82);
    box-shadow: 0px 11px 33px -1px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.jumbotron2 .col-4{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.oferecimento .jumbotron2 img{
    margin: 20px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.oferecimento .jumbotron2 h2{
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 10px;
}

/*Oferecimento*/


}

@media (min-width:600px) and (max-width: 991px){
 
    
    /*header*/

    .fundo{
       position: relative;
       top: -60px;
       width: 100%;
   }
   
   .fundo img{
       position: absolute;
       width: 100%;
       top: 0;
       z-index: -1;
   }

   .head h3{
       margin: 10px;
       margin-top: 10px;
       padding: 10px;
       display: flex;
       font-size: 15px;
       text-align: center;
   }

   .image1 img{
       max-width: 400PX;
       margin-left: 70px;
       margin-top: 0px;
   }
}

@media (min-width:200px) and  (max-width: 600px){

    /*header*/

    .fundo{
       position: relative;
       top: -35px;
       width: 100%;
   }
   
   .fundo img{
       position: absolute;
       width: 100%;
       top: 0;
       z-index: -1;
   }

   .head h3{
       margin: 10px;
       margin-top: 10px;
       padding: 10px;
       display: flex;
       font-size: 15px;
       text-align: center;
   }

   .image1 img{
       max-width: 70%;
       margin-left: 50px;
       margin-top: 0px;
   }
}