<div class="fundo">
    <img src="assets/Line 3.svg" alt="">
</div>

<section class="head">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="header">
                <h3>Não perca nenhuma data importante!</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image1">
                <img src="assets/undraw_calendar_dutt (1) 1.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

</section>


<div class="container">

    <section class="calendario">

        <div class="title">
            <div class="icon">
                <img src="assets/calendario.svg" alt="">
            </div>
        </div>


        
        <div class="cal">
            <div class="calendar">
                <div class="month">
                    <i class="fa fa-arrow-circle-left prev" aria-hidden="true"></i>
                    <div class="date">
                        <h1></h1>
                        <p></p>
                    </div>
                    <i class="fa fa-arrow-circle-right next" aria-hidden="true"></i>
                </div>
                <div class="weekdays">
                    <div>Dom</div>
                    <div>Seg</div>
                    <div>Ter</div>
                    <div>Qua</div>
                    <div>Qui</div>
                    <div>Sex</div>
                    <div>Sab</div>
                </div>
                <div class="days"></div>
            </div>
        </div>

    </section>

    <section class="evento-group">
        
            <div class="day">
                <h3>23</h3>
                <p>Inicio das incrições</p>
            </div>
            <div class="day">
                <h3>23</h3>
                <p>Inicio das incrições</p>
            </div>
            <div class="day">
                <h3>23</h3>
                <p>Inicio das incrições</p>
            </div>
            <div class="day">
                <h3>23</h3>
                <p>Inicio das incrições</p>
            </div>
            <div class="day">
                <h3>23</h3>
                <p>Inicio das incrições</p>
            </div>
            <div class="day">
                <h3>23</h3>
                <p>Inicio das incrições</p>
            </div>
            <div class="day">
                <h3>23</h3>
                <p>Inicio das incrições</p>
            </div>
            <div class="day">
                <h3>23</h3>
                <p>Inicio das incrições</p>
            </div>
        
    </section>


    <section class="fixado">

        <div class="title">
            <div class="icon">
                <img src="assets/fixado.svg" alt="">
            </div>
        </div>

        <!--Jumbotron-->
        <div class="jumbotron2 jumbotron-fluid">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-4 ">
                        <h2 class="display-4">Olímpiada de matemática</h2>
                        <h4>Venha participar de uma Olimpíada desenvolvida por alunos do ensino médio com estrutura inovadora de enigmas.</h4>
                        <div class="btns">
                            <!--Botões-->
                            <a routerLink="/evento">Participe</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <img class="" src="assets/DBM logo.svg" alt="">


                    </div>
                </div>
            </div>
        </div>
        <!--/Jumbotron-->

    </section>

</div>
