@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600;1,900&display=swap');

/*Header*/

.fundo{
    position: relative;
    top: -100px;
}

.fundo img{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.image1 img{

    width: 70%;
    height: 400px;
    margin-left: 100px;
}

.head h3{
    margin: 70px;
    padding: 10px;
    display: flex;
    font-size: 30px;
    text-align: center;
    color: white;
}


/*Header*/

/*titulo*/



.title{
    margin-top: 70px;
}

.title .icon img{
    padding: 10px;
    width: 400px;
}


/*titulo*/

/*Calendario*/

.cal {
    width: 100%;
    height: 30%;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calendar {
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.26);
}

.month {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #7978F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.274);
}

.month i {
    font-size: 40px;
    cursor: pointer;
}

.month h1 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 10px;
}

.month p {
    font-size: 20px;
}

.weekdays {
    color: rgb(82, 82, 82);
    width: 100%;
    height: 100%;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    margin: 5px;
}

.weekdays div {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    color: rgb(82, 82, 82);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

:host ::ng-deep .days div {
    font-size: 20px;
    margin: 0.3rem;
    width: calc(30rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

:host ::ng-deep .days div:hover:not(.today) {
    border-radius: 20px;
    background-color: #cacaca;
    cursor: pointer;
}

:host ::ng-deep .prev-date,
:host ::ng-deep .next-date {
    opacity: 0.5;
}

:host ::ng-deep .today {
    color: white;
    border-radius: 20px;
    background-color: #7978F8;
}



/*Calendario*/

/*Evento*/

.evento-group{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.evento-group .day{
    text-align: center;
    margin: 20px;
    background-color: #7978F8;
    border-radius: 20px;
    width: 20%;
    height: 10%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.evento-group .day h3{
    font-weight: 600;
    color: white;
    
}

.evento-group .day p{
    color: white;
    
}
/*Evento*/

/*Fixado*/

.jumbotron2{
    width: 100%;
}


.jumbotron2 .container{
    background: linear-gradient(91.62deg, #7978F8 7.51%, rgba(255, 44, 44, 0.781) 111.21%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 100%;
}

.jumbotron2 .container .row{
    margin: 20px;
}

.jumbotron2 .btns{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

.jumbotron2 .btns a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 50%;
    border: 2px solid #FFD93A;
    background:  #FFD93A;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;
    padding-top: 8px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.14));
}

.jumbotron2 .btns a:hover{
    background-color: #01f964c4;
    border-color: #7878f8;
    color: white;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.34)); 
}

.jumbotron2 .container h2{
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}

.jumbotron2 .container img{
    width: 90%;
    height: 250px;
    padding-left: 200px;
}

.jumbotron2 .container h4{
    text-align: center;
    font-size: 15px;
}

/*Fixado*/

/*Responsividade*/


@media (min-width:2031px) and (max-width:2560px){
    .fundo{
        position: relative;
        top: -150px;
        width: 100%;
    }
    
    .fundo img{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
    }
}

@media (min-width:1700px) and (max-width:2031px){
    .fundo{
        position: relative;
        top: -120px;
        width: 100%;
    }
    
    .fundo img{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
    }
}

@media (min-width:991px) and (max-width:1200px){

    .calendar {
        width: 60%;
        height: 100%;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.26);
    }
    

}



@media (max-width: 991px){

    /*header*/

    .fundo{
        position: relative;
        top: -40px;
        width: 100%;
    }
    
    .fundo img{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
    }

    .head h3{
        margin: 10px;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        font-size: 15px;
        text-align: center;
    }

    .image1 img{
        max-width: 200px;
        margin-left: 70px;
        margin-top: 0px;
    }

    /*header*/

    /*titulo*/

.title{
    margin-top: 50px;
}

.title .icon img{
    padding: 10px;
    width: 250px;
}

/*titulo*/



/*Calendario*/

.calendar {
    display: none;
}


/*Calendario*/

/*Evento*/

.evento-group{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.evento-group .day{
    text-align: center;
    margin: 20px;
    background-color: #7978F8;
    border-radius: 20px;
    width: 100%;
    height: 10%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/*Evento*/

/*Fixado*/

.jumbotron2 .container img{
    width: 180px;
    height: 100px;
    padding-left: 0px;
}

.jumbotron2 .container h4{
    display: none;
}

.jumbotron2 .container h2{
    display: none;
}

.jumbotron2 .btns{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    width: 80px;
    margin: 0px;
}

.jumbotron2 .btns a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 20px;
    border: 2px solid #FFD93A;
    background:  #FFD93A;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 17px;
    transition: 0.3s;
    padding-top: 0px;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.14));
}

/*Fixado*/



}



@media (min-width:600px) and (max-width: 991px){
 
    
     /*header*/

     .fundo{
        position: relative;
        top: -60px;
        width: 100%;
    }
    
    .fundo img{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
    }

    .head h3{
        margin: 20px;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        font-size: 20px;
        text-align: center;
    }

    .image1 img{
        max-width: 300px;
        margin-left: 70px;
        margin-top: 0px;
    }

    
}



@media (min-width:200px) and  (max-width: 600px){

     /*header*/

     .fundo{
        position: relative;
        top: -35px;
        width: 100%;
    }
    
    .fundo img{
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
    }

    .head h3{
        margin: 10px;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        font-size: 15px;
        text-align: center;
    }

    .image1 img{
        max-width: 70%;
        margin-left: 50px;
        margin-top: 0px;
    }

    /*Calendario*/

    .calendar {
        display: none;
    }

    .jumbotron2 .container img{
        width: 100px;
        height: 100px;
        margin-left: 20px;
    }
    
    .jumbotron2 .container h4{
        display: none;
    }
    
    .jumbotron2 .container h2{
        display: none;
    }
    .jumbotron2 .btns{
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: center;
        width: 80px;
        margin: 0px;
    }
    
    .jumbotron2 .btns a{
        text-align: center;
        text-decoration: none;
        width: 80%;
        height: 20px;
        border: 2px solid #FFD93A;
        background:  #FFD93A;
        outline: none;
        color: rgb(0, 0, 0);
        font-size: 10px;
        font-weight: 700;
        cursor: pointer;
        border-radius: 17px;
        transition: 0.3s;
        padding-top: 0px;
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.14));
    }


/*Calendario*/

}
