
<div class="fundo">
    <img src="assets/Line 3.svg" alt="">
</div>

<section class="header">

    <div class="row">
        <div class="col-md-6">
            <div class="header">
                <h3>Não perca nenhuma data importante!</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image1">
                <img src="assets/undraw_calendar_dutt (1) 1.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>


<div class="container">

    <section class="calendario">

        <div class="title">
            <div class="icon">
                <img src="assets/calendario.svg" alt="">
            </div>
        </div>

    

    <div class="datas">

        <div class="calendar">
            
            <div class="date">
                <h3>Fevereiro</h3>
                <div class="days">
                    <div class="day">D</div>
                    <div class="day">S</div>
                    <div class="day">T</div>
                    <div class="day">Q</div>
                    <div class="day">Q</div>
                    <div class="day">S</div>
                    <div class="day">S</div>

                    <div class="number"></div>
                    <div class="number">1</div>
                    <div class="number">2</div>
                    <div class="number">3</div>
                    <div class="number">4</div>
                    <div class="number">5</div>
                    <div class="number">6</div>
                    <div class="number">7</div>
                    <div class="number">8</div>
                    <div class="number">9</div>
                    <div class="number">10</div>
                    <div class="number">11</div>
                    <div class="number">12</div>
                    <div class="number">13</div>
                    <div class="number">14</div>
                    <div class="number">15</div>
                    <div class="number">16</div>
                    <div class="number">17</div>
                    <div class="number">18</div>
                    <div class="number">19</div>
                    <div class="number">20</div>
                    <div class="number">21</div>
                    <div class="number active">22</div>
                    <div class="number active">23</div>
                    <div class="number active">24</div>
                    <div class="number active">25</div>
                    <div class="number">26</div>
                    <div class="number">27</div>
                    <div class="number">28</div>

                </div>
            </div>
            <div class="evento">
                <div class="ev1">
                    <h2>22</h2>
                    <h3>início das inscrições</h3>
                </div>
                <div class="ev1">
                    <h2>23</h2>
                    <h3>início das inscrições</h3>
                </div>
                <div class="ev1">
                    <h2>24</h2>
                    <h3>início das inscrições</h3>
                </div>
                <div class="ev1">
                    <h2>25</h2>
                    <h3>início das inscrições</h3>
                </div>
            </div>
        </div>

    </div>

</section>


<section class="fixado">

    <div class="title">
        <div class="icon">
            <img src="assets/fixado.svg" alt="">
        </div>
    </div>

     <!--Jumbotron-->
     <div class="jumbotron2 jumbotron-fluid">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-4 ">
                    <h2 class="display-4">Olímpiada de matemática</h2>
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum non maxime modi distinctio
                        eaque.</h4>
                    <div class="btns">
                        <!--Botões-->
                        <a routerLink="/evento">Participe</a>
                    </div>
                </div>
                <div class="col-8">
                    <img class="" src="assets/DBM logo.svg"
                        alt="">


                </div>
            </div>
        </div>
    </div>
    <!--/Jumbotron-->

</section>

</div>



