<div class="fundo">
    <img src="assets/Line 3.svg" alt="">
</div>

<section class="header">

    <div class="row">
        <div class="col-md-6">
            <div class="header">
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo velit ullam tempore laboriosam minus
                    voluptates est itaque molestias quibusdam reiciendis. Ipsa magni odio molestias voluptate! Suscipit
                    possimus error et recusandae?</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image1">
                <img src="assets/undraw_mathematics_4otb (1).svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>

<div class="container">

    <section class="eventos">


        <div class="title">
            <div class="icon">
                <img src="assets/Eventos.svg" alt="">
            </div>
        </div>




        <!--Jumbotron-->
        <div class="jumbotron2 jumbotron-fluid">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-4 ">
                        <h2 class="display-4">Olímpiada de matemática</h2>
                        <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum non maxime modi distinctio
                            eaque.</h4>
                        <div class="btns">
                            <!--Botões-->
                            <a routerLink="/evento">Participe</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <img class="" src="assets/DBM logo.svg"
                            alt="Imagem de um homem vestindo um casaco preto">


                    </div>
                </div>
            </div>
        </div>
        <!--/Jumbotron-->

    </section>

    <section class="conteudos">

        <div class="title">
            <div class="icon">
                <img src="assets/conteudos.svg" alt="">
            </div>
        </div>

    </section>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="assets/laptop-336373_1920.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional.</p>

                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/evento">Conhecer</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/laptop-336373_1920.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
                    conteúdo adicional.</p>

                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/evento">Conhecer</a>
                </div>
            </div>
        </div>
        <div class="card d-flex">
            <img class="card-img-top" src="assets/laptop-336373_1920.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. .</p>

                <div class="btns">
                    <!--Botões-->
                    <a routerLink="/evento">Conhecer</a>
                </div>
            </div>
        </div>
    </div>


</div>