<div class="fundo">
    <img src="assets/Line 3.svg" alt="">
</div>

<section class="header">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="header">
                <h3>Porque informações mudam vidas
                    Aqui você terá acesso a diversas oportunidades como cursos, hackathons, olimpíadas científicas entre outros.
                    </h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image1">
                <img src="assets/undraw_mathematics_4otb (1).svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

</section>

<div class="container">

    <section class="eventos">


        <div class="title">
            <div class="icon">
                <img src="assets/Eventos.svg" alt="">
            </div>
        </div>




        <!--Jumbotron-->
        <div class="jumbotron2 jumbotron-fluid">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-4 ">
                        <h2 class="display-4">Desafio de Matemática</h2>
                        <h4>Venha participar de uma Olimpíada desenvolvida por alunos do ensino médio com estrutura inovadora de enigmas.</h4>
                        <div class="btns">
                            <!--Botões-->
                            <a routerLink="/evento">Participe</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <img class="" src="assets/DBM logo.svg"
                            alt="">


                    </div>
                </div>
            </div>
        </div>
        <!--/Jumbotron-->

    </section>

    <section class="conteudos">

        <div class="title">
            <div class="icon">
                <img src="assets/conteudos.svg" alt="">
            </div>
        </div>

    </section>

    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="assets/laptop-336373_1920.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">13° ONHB</h5>
                <p class="card-text">A ONHB é uma olimpíada de história online que busca potencializar a aprendizagem em ambiente digital e a interação entre alunos e professores, estimulando a descoberta de novas formas de aprendizagem.</p>

                <div class="btns">
                    <!--Botões-->
                    <a href="https://www.olimpiadadehistoria.com.br" target="_blank">Conhecer</a>
                </div>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/laptop-336373_1920.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">FBJC 2021</h5>
                <p class="card-text">A Feira Brasileira de Jovens Cientistas é a primeira feira científica e pré-universitária nacional totalmente virtual e busca estimular o desenvolvimento científico desde cedo.</p>

                <div class="btns" style="margin-top: 40px;">
                    <!--Botões-->
                    <a href="https://fbjc.com.br" target="_blank">Conhecer</a>
                </div>
            </div>
        </div>
        <div class="card d-flex">
            <img class="card-img-top" src="assets/laptop-336373_1920.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Curso de Astronomia e Astronáutica da UFSC</h5>
                <p class="card-text">Objetiva introduzir estudantes, em especial do ensino fundamental, no ensino de astronomia e astronáutica em preparação para a Olimpíada Brasileira de Astronomia e Astronáutica.</p>

                <div class="btns">
                    <!--Botões-->
                    <a href="https://astrofisica.ufsc.br/aa/g/" target="_blank">Conhecer</a>
                </div>
            </div>
        </div>
    </div>


</div>