<footer class="page-footer font-small pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/yumedivulgacao42" target="_blank" class="icoface">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://chat.whatsapp.com/GqCYNAES6rNIy9Y9oe5QQp" target="_blank" class="icowhats">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCKCJFBFbKMbDblnJCcPxKNTCPDZbWtMLzdzbWLsFnglwHrtcQfqhWTjQnHXsGKVQWTznzfL" target="_blank" class="icoemail">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/yume_edu/" target="_blank" class="icoinsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>
